PORT=8081
INTERNAL_SERVICE_TOKEN=dev-internal-secret

DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=postgres
DB_NAME=billing_db
DB_SSLMODE=disable

JWT_SECRET=dev-secret

# Email / SMTP
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USERNAME=your.email@gmail.com
SMTP_PASSWORD=your_gmail_app_password
SMTP_FROM=your.email@gmail.com

FRONTEND_URL=http://localhost:5173
FRONTEND_ORIGIN=http://localhost:5173
PASSWORD_RESET_TOKEN_TTL_MINUTES=15
